@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tudo o que você precisa em TI</h1>
    <img src="https://static.wixstatic.com/media/258dca_b4e017d5bd11448195cf2ef32f99d908~mv2.png/v1/fill/w_538,h_358,al_c,q_85,usm_0.66_1.00_0.01/criacao-site-profissional-wordpress.webp"/>
</div>
